<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MEF Portfolio Tracker</title>
    <style>
        .bar  {
            height: 3px;
            background: black
        }
        .column {
            float: left;
            width: 50%;
        }
        .p_no_indent {display:inline}
        .center {text-align: center}
    </style>
<body>
    
    <div class="center">  
        <h1>Minutemen Equity Fund<h1>
        <h2> MEF is an autonomous, student-run, investment fund with a long-only, value oriented investment strategy.</h2>
    </div>

    <div class="bar"></div>

    <div class="column">
        <h3>Minutemen Equity Mid-Cap Value ETF (MEF)</h3>
        <p class="p_no_indent" id="testvalue"></p>
        <p class="p_no_indent" id="absolutechange"></p>
        <p id="timevalue"></p>
    </div>

    <script>
        const LiveValueData = document.getElementById("testvalue");
        const TimeValueData = document.getElementById("timevalue");
        const absolutechangeValueData = document.getElementById("absolutechange");
        const LiveValueEventSource = new EventSource("/liveportfoliovalue");
        LiveValueEventSource.onmessage = function(event) {
            const data = JSON.parse(event.data);
            const realvalue = data.value
            const time = data.asof
            const absolute_change = data.abs_change
            LiveValueData.innerHTML = "$" + realvalue;
            TimeValueData.innerHTML = "As of: " + time;
            absolutechangeValueData.innerHTML = absolute_change

            function changeTextColor(absolute_change) {
                if (absolute_change.startsWith("-")) {
                    absolutechangeValueData.style.color = "red";
                } else {
                    absolutechangeValueData.style.color = "green";
                }
                }
            changeTextColor(absolute_change)
            };
    </script>

</body>
</html>
